.text40 {
    font-size: 40px;
    font-weight: 600;
}

.text30 {
    font-size: 30px;
    font-weight: 600;
}

.text20 {
    font-size: 20px;
    font-weight: 600;
}

.text15 {
    font-size: 15px;
    font-weight: 600;
}